* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5em;
}

.menu-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.menu-item {
    width: 30%;
    padding: 10px;
    background-color: #eaeaea;
    margin-bottom: 20px;
    border: 1px solid black;
    position: relative;
}

.menu-item p {
    margin-top: 30px;
}

.title {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 10px;
    background-color: #ff9999;
    border: 1px solid black;
    font-weight: bold;
}

.chicken {
    background-color: #ff9999;
}

.beef {
    background-color: #ff4444;
}

.sushi {
    background-color: #ffd700;
}


@media (max-width: 991px) {
    .menu-item {
        width: 48%;
    }
    .menu-item:nth-child(3) {
        width: 100%;
    }
}


@media (max-width: 767px) {
    .menu-item {
        width: 100%;
    }
}
